[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
colorama = "*"
mypy = "*"
# pyre-check = "*"
# pytype = "*"
pydocstyle = "*"

[packages]
django = "*"
pushbullet-py = "*"
gunicorn = "*"
toml = "*"
dj-database-url = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
