[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pyre-check = "*"
pytype = "*"
flake8 = "*"
flake8-black = "*"
flake8-isort = "*"
flake8-docstrings = "*"
darglint = "*"
# pep8-naming = "*"  # Conflict with hacking
flake8-no-implicit-concat = "*"
flake8-bandit = "*"
hacking = "*"
django-stub = "*"

[packages]
django = "*"
pushbullet-py = "*"
gunicorn = "*"
toml = "*"
dj-database-url = "*"

[pipenv]
allow_prereleases = true
