[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
pyre-check = "*"
pytype = "*"
pydocstyle = "*"

[packages]
django = "*"
pushbullet-py = "*"
# [requires]
# python_version = "3.7"
gunicorn = "*"
toml = "*"
dj-database-url = "*"

[pipenv]
allow_prereleases = true
